header, footer {
  ul {
    li {
      display: inline;
    }
  }
}

#content {
  @include grid-row();

  $left-column-size: 6;
  $right-column-size: 12 - $left-column-size;
  .left-column {
    @include grid-column($left-column-size);
  }
  .right-column {
    @include grid-column($right-column-size);
  }
}

$small-range: (0em, 30em); /* 0, 640px */
$small-only: "#{$screen} and (max-width: 40em)" !default;

@media #{$small-only} {
  #content {
    .left-column, .right-column {
      @include grid-column(12);
    }
  }
}

#content {
  @include grid-row();

  $left-column-size: 4;
  $right-column-size: 12 - $left-column-size;
  #auction_search_sidebar {
    @include grid-column($left-column-size);
  }
  #auctions {
    @include grid-column($right-column-size);
  }
}

div.check_boxes {
  label.check_boxes { clear: left; }
  .checkbox {
    @include grid-column(6);
    input {}
    span.checkbox {}
    label { margin-left: 0.5em; }
    * { display: inline-block; }
  }
}
