@mixin placeholder-color($color: #000) {
  ::-webkit-input-placeholder{ color: $color; }
  ::-moz-placeholder{ color: $color; }
  :-ms-input-placeholder{ color: $color; }
  input:-moz-placeholder{ color: $color; }
}

$small-range: (0em, 30em); /* 0, 640px */
$small-only: "#{$screen} and (max-width: 40em)" !default;

header, footer {
  ul {
    li {
      display: inline;
    }
  }
}

body {
  background: #D5F1F0;
  padding: 2em;
}

$header_secondary_color: #2a959e;

ul#devise_navigation {
  float: right;
  @include inline-list;
  margin-right: 2.25em;
  li {
    margin-left: 0;
    &:first-child {
      padding-right: 0.75em;
      margin-right: 0.75em;
      border-right: 2px solid $header_secondary_color;
    }
  }
  &, a {
    color: $header_secondary_color;
  }
}

header {
  @include side-radius(top, 30px);
  h1.title {
    margin-top: -1em;
    span.full-title { display: none; }
  }
  .tagline {
    color: $primary-color;
    font-family: "cooper-black-std";
    font-size: 125%;
    font-weight: bold;
  }
  nav#pages{
    margin-top: 3em;
    ul { margin-bottom: 0; }
    ul li {
      display: inline-block;
      width: 22%;
      margin-right: 2%;
      &:nth-child(1) a {
        @include button($bg: $primary-color, $padding: $button-sml, $full-width: true, $radius: 25px);
      }
      &:nth-child(2) a {
        @include button($bg: #81AE28, $padding: $button-sml, $full-width: true, $radius: 25px);
      }
      &:nth-child(3) a {
        @include button($bg: #642783, $padding: $button-sml, $full-width: true, $radius: 25px);
      }
      &:nth-child(4) a {
        @include button($bg: #E80081, $padding: $button-sml, $full-width: true, $radius: 25px);
      }
      &:nth-child(n) a {
        font-weight: 400;
        margin-bottom: 0.4em;
      }
    }
  }
}

nav#main {
  background: #F3C4CD;
  padding: 0.5em 0;
  margin: 0 -2em 0 -2em;
  ul {
    @include grid-row();
    list-style-type: none;
    font-family: "cooper-black-std";
    font-weight: bold;
    li {
      font-size: 125%;
      text-align: center;
      &:nth-child(5) { @include grid-column(1.9); }
      &:nth-child(6) { @include grid-column(2.2); }
      &:nth-child(1), &:nth-child(2), &:nth-child(4) { @include grid-column(1.8) }
      &:nth-child(3){ @include grid-column(2.5) }
    }
  }
  ul, form, input { margin-bottom: 0; }
  form.new_auction_search {
    @include placeholder-color(#f5cbd3);
    input.string {
      @include radius(25px);
      border: 2px solid #e399a7;
      color: #f5cbd3;
      font-family: $body-font-family;
      font-size: 75%;
      padding: 0.25em;
      background: white image-url('search.gif') no-repeat 5px center;
      padding-left: 30px;
    }
    label, input[type=submit] {
      display: none;
    }
  }
  &, a {
    color: #6f1549;
  }
}

@media #{$small-only} {
  nav#main ul {
    padding: 0 1.8em;
    li:nth-child(n) {
      width: auto;
      display: inline-block;
    }
  }
}

#content, header {
  clear: right;
  background: #FFFFFF;
  @include grid-row();
}

header {
  $left-column-size: 5;
  $right-column-size: 12 - $left-column-size;
  .left-column {
    @include grid-column($left-column-size);
  }
  .right-column {
    @include grid-column($right-column-size);
  }
}

#content {
  $left-column-size: 6;
  $right-column-size: 12 - $left-column-size;
  .left-column {
    @include grid-column($left-column-size);
  }
  .right-column {
    @include grid-column($right-column-size);
  }
}

@media #{$small-only} {
  header, #content {
    nav#pages { margin-top: 0; }
    .left-column, .right-column {
      @include grid-column(12);
    }
  }
}

#content {
  @include grid-row();

  $left-column-size: 4;
  $right-column-size: 12 - $left-column-size;
  #auction_search_sidebar {
    @include grid-column($left-column-size);
  }
  #auctions {
    @include grid-column($right-column-size);
  }
}

div.check_boxes {
  label.check_boxes { clear: left; }
  .checkbox {
    @include grid-column(6);
    input {}
    span.checkbox {}
    label { margin-left: 0.5em; }
    * { display: inline-block; }
  }
}
