header, footer {
  ul {
    li {
      display: inline;
    }
  }
}

body {
  background: #D5F1F0;
}

$header_secondary_color: #2a959e;

ul#devise_navigation {
  margin-top: 2em;
  margin-right: 2em;
  float: right;
  list-style-type: none;
  li {
    display: inline;
    &:first-child {
      padding-right: 0.75em;
      margin-right: 0.75em;
      border-right: 2px solid $header_secondary_color;
    }
  }
  &, a {
    color: $header_secondary_color;
  }
}

header, #content {
  clear: right;
  background: #FFFFFF;
}

ul#main_navigation {
  background: #F3C4CD;
  &, a {
    color: #6f1549;
  }
}

#content {
  @include grid-row();

  $left-column-size: 6;
  $right-column-size: 12 - $left-column-size;
  .left-column {
    @include grid-column($left-column-size);
  }
  .right-column {
    @include grid-column($right-column-size);
  }
}

$small-range: (0em, 30em); /* 0, 640px */
$small-only: "#{$screen} and (max-width: 40em)" !default;

@media #{$small-only} {
  #content {
    .left-column, .right-column {
      @include grid-column(12);
    }
  }
}

#content {
  @include grid-row();

  $left-column-size: 4;
  $right-column-size: 12 - $left-column-size;
  #auction_search_sidebar {
    @include grid-column($left-column-size);
  }
  #auctions {
    @include grid-column($right-column-size);
  }
}

div.check_boxes {
  label.check_boxes { clear: left; }
  .checkbox {
    @include grid-column(6);
    input {}
    span.checkbox {}
    label { margin-left: 0.5em; }
    * { display: inline-block; }
  }
}
